$color1: white;
$color2: rgb(56, 52, 52);
$color3: #e2e8f0;
$color4: #0284c7;
$color5: #fbbf24;

:root {
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  overflow-x: hidden;

  grid-template-areas:
    'sidebar header header header header' 'sidebar main main main main'
    'sidebar main main main main' 'sidebar main main main main' 'sidebar main main main main' 'sidebar main main main main';

  font-family: 'Roboto', sans-serif !important;
}

aside {
  grid-area: sidebar;
  background-color: $color4;
  color: $color1;

  display: flex;
  flex-direction: column;

  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 16px !important;

  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    span {
      font-size: 2rem !important;
    }

    h1 {
      margin-left: 8px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  ul {
    li {
      display: flex;
      align-items: center;
      margin-top: 16px;

      span {
        cursor: pointer;
        font-size: 1.2rem !important;
      }

      p {
        margin-left: 16px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  ul:nth-child(3) {
    margin-top: 44px;
  }
}

header {
  grid-area: header;
  background-color: $color1;

  display: flex;
  color: $color2;

  .header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin: 16px 32px;

    .search-container {
      display: flex;
      align-self: center;
      width: 100%;

      span {
        cursor: pointer;
      }

      input {
        margin-left: 16px;
        padding-left: 16px;
        width: 100%;

        border-radius: 16px;
        border: 0;

        background-color: $color3;
      }
    }

    .profile-container {
      grid-column: 2;
      justify-self: flex-end;

      display: flex;
      align-items: center;

      span {
        margin-left: 16px;
        cursor: pointer;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 100%;

        margin-left: 16px;
        cursor: pointer;
      }

      p {
        white-space: nowrap;
        font-weight: bold;
        font-size: 1rem;

        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
  .header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;

    margin-left: 32px;
    margin-right: 32px;

    margin-bottom: 16px;

    .welcome-container {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }

      .welcome-message {
        margin-left: 16px;
        font-weight: bold;

        p {
          font-size: 0.7rem;
        }

        h1 {
          font-size: 1.2rem;
          margin: 0;
          margin-top: 4px;
        }
      }
    }

    .buttons-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      align-items: center;
      justify-content: flex-end;

      button {
        justify-self: flex-end;

        width: 90px;
        padding: 8px 16px;
        margin-left: 8px;

        border: none;
        border-radius: 16px;

        font-size: 0.7rem;
        font-weight: bold;

        color: $color1;
        background-color: $color4;

        cursor: pointer;
      }
    }
  }
}

main {
  grid-area: main;
  background-color: $color3;
  padding-right: 32px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-row: 150px 150px;
  overflow: hidden;
  overflow-y: scroll;
  grid-template-areas:
    'projects projects ann'
    'projects projects trend';

  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1) inset;

  h2 {
    font-weight: bold;
    margin-bottom: 16px;
  }

  color: $color2;

  .projects-container {
    grid-area: projects;
    margin: 32px 16px;
    margin-right: 0;

    .projects-container-inside {
      display: grid;

      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 16px;

      .card {
        height: 150px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        border-radius: 16px;
        background-color: $color1;

        padding: 32px 24px;
        color: $color2;

        .line {
          position: absolute;
          left: 0;
          top: 0;
          width: 10px;
          height: 100%;
          background-color: $color5;

          border-radius: 16px 0 0 16px;
        }

        .card-top {
          h1 {
            font-weight: bold;
            cursor: pointer;
          }

          p {
            margin-top: 16px;
            font-size: 0.9rem;
            opacity: 0.8;
          }
        }

        .card-bottom {
          align-self: flex-end;

          span {
            margin-left: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .ann-container {
    grid-area: ann;
    margin: 32px 16px;
    margin-right: 0;

    .ann-container-inside {
      background-color: $color1;
      border-radius: 16px;

      padding: 32px;

      h3 {
        font-size: 0.7rem;
        font-weight: bold !important;
        cursor: pointer;
      }

      p {
        font-size: 0.6rem;
        opacity: 0.7;
        margin-top: 4px;
        word-break: keep-all;
      }

      hr {
        opacity: 0.5;
        font-weight: 300;
        margin: 16px auto;
      }
    }
  }
  .trends-container {
    grid-area: trend;
    margin: 32px 16px;
    margin-top: 0;
    margin-right: 0;

    .trends-container-inside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $color1;
      border-radius: 16px;
      padding: 16px;

      .trends-item {
        display: flex;
        align-items: center;
        margin-top: 16px;

        img {
          width: 35px;
          height: 35px;
        }

        div {
          color: $color2;
          margin-left: 16px;

          p:first-child {
            font-weight: bold;
            font-size: 0.7rem;
          }

          p:nth-child(2) {
            margin-top: 4px;
            opacity: 0.5;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
